# Ignore Mac specific .DS_Store folder
.DS_Store

#  Local .terraform directories
**/.terraform/*

# .tfstate files
**/*.tfstate
**/*.tfstate.*

# .tfvars files
**/*.tfvars

# Ignore custom files
*.[0-9]*
